@CHARSET "UTF-8";
/*
 *	Sign In Page (width: 1024px; height: 680px;)
 */

#OperatorID, #Passcode { 
	position: aboslute; left: 0px; top: 0px;
	z-index: 100; }
.overlay { 
	position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;
	background: hsla(0, 0%, 0%, 0.5) }
.Rejected {
	position: absolute; left: 212px; top: 30px; width: 600px; height: 20px;
	font-size: 20px; color: hsl(41, 100%, 70%); text-align: center; }
.Guidance { 
	position: absolute; left: 212px; top: 60px; width: 600px; height: 60px;
	color: hsl(0, 0%, 100%);
	font-size: 20px; text-align: center; }
.Panel { 
	position: absolute; left: 312px; top: 125px; width: 400px; height: 430px; 
	background: -webkit-gradient(linear,left top,left bottom,from(hsl(34,30%,90%)),to(hsl(34,30%,50%))); 
	-webkit-box-shadow: hsl(0,0%,0%) 0px 2px 3px;
	border-radius: 10px; }
.Panel .InnerBox { 
	position: absolute; left: 10px; top: 10px; right: 10px; bottom: 10px;
	background: hsl(34,30%,80%); 
	border-color: hsl(34,30%,30%) hsl(34,30%,50%) hsl(34,30%,90%);
	border-style: solid; border-width: 1px; box-sizing: border-box; -webkit-box-sizing: border-box; }
.Panel .InnerBox .Echoback {
	position: absolute; left: 10px; top: 20px; width: 230px; height: 46px;
	background: hsl(0,0%,100%); 
	-webkit-box-shadow: hsl(0,0%,0%) 1px 1px 5px inset;
	border-radius: 5px; border-style: none; border-width: 0px; box-sizing: border-box; -webkit-box-sizing: border-box;
	text-align: right;
}
.Panel .InnerBox .Echoback .Value {
	margin: 10px 10px;
	font-size: 24px;
}
.Panel .InnerBox .TenKey { position: absolute; left: 10px; top: 90px; }

/**** end of CSS ****/