@CHARSET "UTF-8";

#PopupMessage .Panel {
	position: absolute; left: 52px; top: 30px;  width: 920px; height: 620px;
}
#PopupMessage .InnerBox {
	position: absolute; left: 10px; top: 10px;  width: 900px; height: 600px;
}
#PopupMessage .Panel .InnerBox .popupDeployArea {
	position: absolute; left: 210px; top: 150px;  width: 480px; height: 320px;
}
#PopupMessage .Panel .InnerBox .Buttons .resButton:nth-child(1){
	position: absolute; right: 0px; bottom: -100px;
}
#PopupMessage .Panel .InnerBox .Buttons .resButton:nth-child(2){
	position: absolute; left: 0px; bottom: -100px;
}
#PopupMessage .Panel .InnerBox .popupDeployArea .Guide {
	position: absolute; left: 0px; top: 80px; width: 100%; height: 40px; text-align: center; display: table;
}
#PopupMessage .Panel .InnerBox .Guide p {
	text-align: center; vertical-align: top; display: table-cell; font-size: 25px;
}
