/* all */
* {  
    margin:0;  
    padding:0;  
    font-family: 'Helvetica','Arial','メイリオ','Meiryo UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','sans-serif';
}

/* index */
body.indexBody {
    font-size: 12px;
    line-height: 1.1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: hsl(208, 11%, 90%);
}
.indexBody .indexTop {
    position: relative;
    margin: 0 auto;
    background: linear-gradient(to bottom, #719e37 0%, #719e37 100%);
    border: none;
    
    overflow: hidden;
    box-sizing: border-box;
    width: 1000px;
    height: 60px;
    z-index: 1000;
    padding: 15px 25px;
    
    color: #fff;
    font-size: 22px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
/*    width: 1000px;*/
    margin: 0 auto;
}
.indexBody .indexMiddle {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 900px;
}
.indexBody .indexLeft {
    position: absolute;
    width: 200px;
    height: 900px;
    background: #3B3E40;
}
.indexBody .indexRight {
    position: absolute;
    width: 780px;
    height: 880px;
    left: 200px;
}
.indexBody #maincontent {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(hsl(0,0%,90%)),to(hsl(0,0%,50%)));
    border: none;
    z-index: 1;
    overflow: hidden;
    padding: 10px;
}
.indexLeft a {
    text-align: left;
    font-size: 15px;
    color: #fff !important;
    display: block;
    text-decoration: none;
    padding: 20px 15px 20px 25px;
    width: 190px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-bottom: 1px solid #27292a;
    border-top: 1px solid #46494b;
    box-shadow: inset -20px 0 10px -20px #000;
    -moz-box-shadow: inset -20px 0 10px -20px #000;
    -webkit-box-shadow: inset -20px 0 10px -20px #000;
}
.indexLeft a:hover {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #62882f;
    border-top: 1px solid #62882f;
}
/* main contents */
.res-maincontent {
}
/* frame */
.res-maincontent #storeSearch {
	width:100%;
	height:40px;
	border-style: none;
}
/* panel*/
.res-maincontent .panel {
    background: -webkit-gradient(linear,left top,right bottom,from(hsl(0,0%,100%)),to(hsl(0,0%,80%)));
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
/* label */
.res-maincontent label.res-err-msg {
    font-size: 20px;
    color:hsl(0,100%,50%);
}
.res-maincontent label.res-info-msg {
    font-size: 20px;
    color:hsl(240,100%,50%);
}
/* focus */
input:focus,button:focus,select:focus {
  outline: 0;
}
/* inputs */
.res-maincontent input[type="text"] {
    height: 30px;
    background: hsl(0,0%,100%);
    -webkit-box-shadow: hsl(0,0%,0%) 1px 1px 5px inset;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    type: text;
}
.res-maincontent input[type="text"][disabled] {
    color:hsl(0,0%,0%);
    background:none;
    -webkit-box-shadow: none;
    border-width:0px;
    border: none;
}
.res-maincontent input[type="text"]:invalid {
    background: hsl(0,100%,82%);
}

/* selects */
.res-maincontent select {
    height:30px;
    padding: 0px 25px 0px 10px;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #999;
    background: url(./images/arw_select_down.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
    background-size: 20px, 100%;
    border-radius: 5px;
}

.res-maincontent select option {
    background: #eee;
}

/* buttons */
.res-maincontent button,
.res-maincontent input[type="button"] {
    text-align: center;
    vertical-align: middle;
/*    display: table-cell;*/
    outline:none;
}
.res-maincontent .res-small,
.res-maincontent .res-small-gray,
.res-maincontent .res-small-green,
.res-maincontent .res-small-yellow {
    width:60px;
    height:30px;
    border-radius:5px;
    border-style: none;
    border-width: 0px;
    font-size: 14px;
    -webkit-box-shadow: hsl(0,0%,0%) 0px 1px 2px;
}
.res-maincontent .res-big,
.res-maincontent .res-big-gray,
.res-maincontent .res-big-green,
.res-maincontent .res-big-yellow {
    width:120px;
    height:70px;
    border-radius:5px;
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    -webkit-box-shadow: hsl(0,0%,0%) 0px 1px 2px;
}
.res-maincontent .res-small-gray,
.res-maincontent .res-big-gray {
    color: hsl(0,0%,0%);
    background: -webkit-gradient(linear,left top,left bottom,from(hsl(0,0%,95%)),to(hsl(0,0%,75%)));
}
.res-maincontent .res-small-green, 
.res-maincontent .res-big-green {
    color: hsl(0,0%,100%);
    background:-webkit-gradient(linear,left top,left bottom,from(hsl(112,45%,70%)),to(hsl(112,45%,40%)));
}
.res-maincontent .res-small-yellow,
.res-maincontent .res-big-yellow {
    color: hsl(0,0%,100%);
    background: -webkit-gradient(linear,left top,left bottom,from(hsl(41,100%,60%)),to(hsl(41,100%,30%)));
}
.res-maincontent button:active,
.res-maincontent input[type="button"]:active
{
    background: hsl(0,0%,50%);
}

.res-maincontent DIV.table-scroll-area-h {
    overflow-x:auto;
}
.res-maincontent DIV.table-scroll-area-v {
    overflow-y:auto;
}
/* tables */
.res-maincontent table.res-tbl {
    border-collapse: collapse;
}
.res-maincontent table.res-tbl th {
    color: hsl(0,0%,100%);
    height: 15px;
    padding: 4px 15px;
    background:-webkit-gradient(linear,left top,left bottom,from(hsl(112,45%,70%)),to(hsl(112,45%,40%)));
    text-shadow:0 -1px 0 rgba(34,85,136,0.9);
    font-weight: bold;
    border-left: 1px solid hsl(112,45%,50%);
    border-top: none;
    border-bottom: 1px solid hsl(112,45%,50%);
}
.res-maincontent table.res-tbl th:first-child {
    border-radius: 5px 0 0 0;
    border-left: none;
}
.res-maincontent table.res-tbl th:last-child {
    border-radius:0 5px 0 0;
}
.res-maincontent table.res-tbl tr.deleted-row td {
    background: #A9A9A9;
}
.res-maincontent table.res-tbl td {
    border-bottom: 1px solid hsl(0,0%,50%);
    border-left: 1px solid hsl(0,0%,50%);
}
.res-maincontent table.res-tbl tr:nth-child(odd) {
    background: #f1f6fc;
}
.res-maincontent table.res-tbl tr:nth-child(even) {
    background: #fff;
}

/*テキストエリア*/
.res-maincontent .rawdata {
    resize: none;
    width: 99%;
    margin: 10px 0px;
}

.res-maincontent DIV.htmlArea {
    background:#FFFFFF;
    width:100%;
    height:100%;
    border: solid #A0A0A0;
    border-width: 1px;
}

/*ダイアログ全体*/
.ui-dialog2 {
    width: 420px;
    height: 345px;
	position: absolute;
    text-align: center;
    outline:none;
    background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(hsl(34,30%,80%)),to(hsl(34,30%,65%)));
    border-radius:10px;
    vertical-align: middle;
    border-style: ridge;
    border-width:5px;
    border-color:hsl(34,30%,80%);
    z-index: 1000;
}

/*タイトル部分*/
.ui-dialog2 .ui-dialog-titlebar {
	display: none;
    color: hsl(0,0%,100%);
}

/*タイトルより下の部分*/
.ui-dialog2 .ui-dialog-content {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
/*メッセージ部分*/
.ui-dialog2 .ui-dialog-message {
}

.ui-dialog2 .ui-dialog-buttonpane {
	margin: 0px 20px
}

.ui-dialog2 .ui-dialog-buttonset {
    margin-top: 80px;
    height: 95px;
}
/*ボタン部分*/
.ui-dialog2 .ui-state-default,
.ui-dialog2 input[type="button"] {
	margin: 0px 20px;
    text-align: center;
    vertical-align: middle;
    outline:none;
    width:120px;
    height:70px;
    border-radius:5px;
    border-style: none;
    border-width: 0px;
    font-size: 20px;
    -webkit-box-shadow: hsl(0,0%,0%) 0px 1px 2px;
    color: hsl(0,0%,100%);
    background:-webkit-gradient(linear,left top,left bottom,from(hsl(112,45%,70%)),to(hsl(112,45%,40%)));
}
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
