
<div class="resCasing silver">
	<div class="resPanel silver">

		<div class="Guide" data-ng-show="!model.advertise.alreadyChanged">
			<p data-ng-bind-html="'FileClose.Guide'|resPhrase:context"></p>
		</div>
		<div class="Guide" data-ng-show="model.advertise.alreadyChanged">
			<p data-ng-bind-html="'FileClose.AlreadyChanged'|resPhrase:context"></p>
		</div>
		<div class="Buttons">
			<div class="resButton raise yellow W120xH70" data-ng-click="cancel()">
				<p data-ng-bind-html="'Button.No'|resPhrase:context"></p>
			</div>
			<div class="resButton raise green W120xH70" data-ng-click="close()">
				<p data-ng-bind-html="'Button.Yes'|resPhrase:context"></p>
			</div>
		</div>

	</div>
</div>
